footer {
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer-background {
  background-color: var(--white-color);
}

.footer-image-container {
  display: flex;
  justify-content: center;
}

.footer-woman-image {
  display: block;
  width: 300px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  margin: 20 0 20 0;
}

.footer-text-logo {
  display: block;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--bg-color);
}

.footer-icon-logo {
  display: block;
}

.footer-text {
  color: var(--bg-color);
}

.footer-socials-logo {
  width: 40px;
  height: 40px;
  border: 1px;
  margin: 10px;
}

.footer-menu {
  display: flex;
  justify-content: center;
}

.footer-menu-item {
  display: block;
  margin: 10px;
  color: var(--bg-color);
}

.footer-contact {
  color: var(--bg-color);
  text-align: center;
}
