<div class="thankyou-background is-hidden" id="modal-thankyou">
  <div class="modal-thankyou">
    <button class="thankyou-close" type="button" id="thankyou-btn">
      <svg class="close-icon" width="28" height="28">
        <use href="./images/icons.svg#icon-close-btn-white"></use>
      </svg>
    </button>
    <div>
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="./images/thankyou-mobile.png 1x, ./images/thankyou-mobile@2x.png 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/thankyou-tablet-desktop.png    1x,
            ./images/thankyou-tablet-desktop@2x.png 2x
          "
        />
        <img src="./images/thankyou-mobile.png" alt="Raspberries" />
      </picture>
    </div>
    <div class="thankyou-text">
      <h2 class="thankyou-title">tHANK YOU</h2>
      <p class="thankyou-paragraph">
        Thank you for your order! Our team is preparing your box with fresh, delicious fruits and
        vegetables, and we'll deliver it straight to your doorstep. We appreciate your business and
        look forward to providing you with the best possible experience!
      </p>
    </div>
  </div>
</div>

<script>
  document.querySelector('#thankyou-btn').addEventListener('click', () => {
    document.querySelector('#modal-thankyou').classList.remove('is-hidden');
  });
</script>
